.textType {
  display: inline-block;
  white-space: pre-wrap;
}

.content {
  display: inline;
}

.cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
  animation: textTypeBlink var(--text-type-cursor-blink-duration, 0.5s) infinite alternate;
}

.cursorHidden {
  display: none;
}

@keyframes textTypeBlink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

